.App {
  text-align: center;
}
.optionsDiv{
  position: relative;
  border: 4px solid rgba(0, 0, 0, 0.089);
  padding: 4%;
  margin-top: 13%;
  background-color:rgba(255, 255, 255, 0.795);
  border-radius: 0.5em;
  width: 50%;

}
.DivWithBackground{
  position: absolute;
  width: 100%;
  height: 100%;
  background: url(Home4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.AdminForm{
  border: 4px solid rgba(0, 0, 0, 0.089);
  padding: 3%;
  margin-top: 8%;
  background-color:rgba(255, 255, 255, 0.795);
  border-radius: 0.5em;
  width: 50%;
}
.HomeButton{
  border:1px solid white;
  padding:3%; 
  margin:auto;
  font-size: 180%;
  width: 68%;
  font-family: Bree serif;
  background-color:rgba(0, 0, 0, 0.877);
  border-radius: 0.4em;
}
.HomeButton:hover {
  background-color:black;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.mr-auto{
  font-family: Bree serif;
  font-size: 1.1em
}
.NavElem{
  margin-right: 3%;
  font-family: Bree serif;
  font-size: 1.1em
}
.NavBrand{
  margin-right: 3%;
  font-family: Bree serif;
  font-size: 1.7em
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Dashboard-elem{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 2px solid black;
  padding: 5%;
  padding-top: 1%;
  margin-top: 3%; 
  margin-left: 2%;
  float: left;
  width: 30%;
  height: 550px;
  /* height: 20%; */
}
.App-link {
  color: #61dafb;
}
li{
  list-style: none;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
label {
  display: block;
  font: 1em 'Fira Sans', sans-serif;
}
.listElem{
  /* overflow:scroll; */
  /* overflow-y:scroll; */
  padding: 8%;
  text-align: center;
  margin: 1%;
  background-color: rgba(128, 128, 128, 0.315);
  /* border: 1px solid grey; */
}
.scrollable{
  overflow-y:scroll;
}
.OuterAdmin{
  border: 4px solid rgba(241, 203, 203, 0.089);
  margin-top: 5%;
  margin-left: 28%;
  background-color:rgba(255, 255, 255, 0.795);
  border-radius: 0.5em;
  width: 45%;
  height: 70%;
  /* opacity: 0.8 */
}
.initialForm{
  width: 100%;
  padding: 14px 24px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.527);
  border-radius: 4px;
  box-sizing: border-box
}
input::placeholder {
  color:black;
  font-size: 1.2em;
  font-style: bold;
  font-family: 'Lucida Sans'
}

.initialFormSubmit {
  width: 100%;
  background-color:  rgba(0, 0, 0, 0.897);
  color: white;
  padding: 14px 24px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.2em;
  font-style: bold;
  font-family: 'Lucida Sans'
}

.initialFormSubmit:hover {
  background-color:black;
}
.InnerAdmin{
  padding: 5%;
  /* margin-left:28%  */
}
.dashboard-form{
  width: 100%;
  text-align:center;
  padding: 2px 2px;
  margin: 1px 0;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.527);
  border-radius: 4px;
  box-sizing: border-box
}