.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Dashboard-elem{
  display: flex;
  background-color: rgba(255, 255, 255, 0.644);
  flex-direction: column;
  overflow: scroll;
  padding: 3%;
  padding-top: 1%;
  margin-top: 3%; 
  margin-left: 2%;
  border-radius: 25px;
  float: left;
  width: 30%;
  height: 600px;
}
.SUM{
  margin-top: 3%;
  border: 3px solid rgba(128, 128, 128, 0.5);
  border-radius: 5px;
}
/* .MuiSvgIcon-root-47{
  color:white;
} */
.App-link {
  color: #61dafb;
}
li{
  list-style: none;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.listElem{
  /* overflow:scroll; */
  /* overflow-y:scroll; */
  font-family: Bree serif;
  font-size: 20px; 
  padding: 8%;
  text-align: center;
  margin: 1%;
  border: 2px solid grey;
  border-radius: 8px; 
  background-color:white;
  /* border: 1px solid grey; */
}
.scrollable{
  margin-top : 5%;
  width: 100%;
  overflow : scroll;
}
.OuterAdmin{
  border: 4px solid rgba(241, 203, 203, 0.089);
  margin-top: 5%;
  margin-left: 28%;
  background-color:rgba(255, 255, 255, 0.795);
  border-radius: 0.5em;
  width: 45%;
  height: 70%;
  /* opacity: 0.8 */
}
.initialForm{
  width: 100%;
  padding: 14px 24px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.527);
  border-radius: 4px;
  box-sizing: border-box
}

input::placeholder {
  color:black;
  font-size: 1.2em;
  font-style: bold;
  font-family: 'Lucida Sans'
}

.initialFormSubmit {
  width: 100%;
  background-color:  rgba(0, 0, 0, 0.897);
  color: white;
  padding: 14px 24px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.2em;
  font-style: bold;
  font-family: 'Lucida Sans'
}

.initialFormSubmit:hover {
  background-color:black;
}
.InnerAdmin{
  padding: 5%;
  /* margin-left:28%  */
}
.dashboardfile-form{
  width: 100%;
  margin-top: 3px;
  text-align:center;
  padding: 2% 2%;
  border-radius : 8px;
  /* border: 1px solid grey; */
  display: inline-block;
}
.dashboard-form{
  width: 100%;
  margin-top: 3px;
  text-align:center;
  padding: 5% 5%;
  width: 100%;
  border-radius : 8px;
  border: 1px solid grey;
  display: inline-block;
}
.dashboard-formSubmit{
  color: white;
  padding: 6% 6%;
  margin-top: 3px;
  width: 100%;
  background-color:  rgba(0, 0, 0, 0.897);
  border-radius: 10px;
  font-family: Bree serif;
  font-size: 2 em;
}
.dashboard-formSubmit:hover{
  background-color: black;
}
.DBFORM{
  height: 202px
}
.optionsDiv{
  position: relative;
  border: 4px solid rgba(0, 0, 0, 0.089);
  padding: 4%;
  margin-top: 13%;
  background-color:rgba(255, 255, 255, 0.795);
  border-radius: 0.5em;
  width: 50%;
}
.DivWithBackground{
  position: absolute;
  width: 100%;  
  height: 100%;
  background: url(Home1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.AdminForm{
  border: 4px solid rgba(0, 0, 0, 0.089);
  padding: 3%;
  margin-top: 8%;
  background-color:rgba(255, 255, 255, 0.795);
  border-radius: 0.5em;
  width: 50%;
}

.HomeButton{
  border:1px solid white;
  padding:3%; 
  margin:auto;
  font-size: 180%;
  width: 68%;
  font-family: Bree serif;
  background-color:rgba(0, 0, 0, 0.877);
  border-radius: 0.4em;
}
.HomeButton:hover {
  background-color:black;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.mr-auto{
  font-family: Bree serif;
  font-size: 1.1em
}
.NavElem{
  margin-right: 3%;
  font-family: Bree serif;
  font-size: 1.1em
}
.NavBrand{
  margin-right: 3%;
  font-family: Bree serif;
  font-size: 1.7em
}
h6{
  font-size : 15px;
  display: inline-block;
  font-family: Bree serif;
}
input[type="file"] {
  font-family: Bree serif;
  /* font-size: 13px; */
}
.NAMETAG{
  text-align: center;
  /* border: 2px solid black; */
}
.EXPAND{
  overflow: scroll;
}
h2,h3,h1{
  font-family: Bree serif;
}
.LogInPage{
  padding-top: 8%; 
  width : 70%;
  margin-left: 13%
}