.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.AutoJudge{
  float: left;
  width: 19%;
  padding-left: 1.5%;
  padding-top: 0.8%;
  margin-left: 5.5%;
  margin-top: 1%
  /* border: 1px solid grey */
}
.Dashboard-elem{
  display: flex;
  background-color: rgba(255, 255, 255, 0.644);
  flex-direction: column;
  overflow: scroll;
  padding: 3%;
  padding-top: 1%;
  margin-top: 3%; 
  margin-left: 2%;
  border-radius: 25px;
  float: left;
  width: 30%;
  height: 600px;
}
.SUM{
  margin-top: 3%;
  border: 3px solid rgba(128, 128, 128, 0.5);
  border-radius: 5px;
}
/* .MuiSvgIcon-root-47{
  color:white;
} */
.App-link {
  color: #61dafb;
}
li{
  list-style: none;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.listElem{
  /* overflow:scroll; */
  /* overflow-y:scroll; */
  font-family: Bree serif;
  font-size: 20px; 
  padding: 8%;
  text-align: center;
  margin: 1%;
  border: 2px solid grey;
  border-radius: 8px;
  text-overflow: ellipsis; 
  background-color:white;
  /* border: 1px solid grey; */
}
.Matched{
  background: rgb(135, 211, 21);
  border: 1px solid black
}
.NotMatched{
  background: rgb(211, 43, 21);
  border: 1px solid black
}
.Output{
  text-align: center;
  float: left;
  width: 48%
}
.Expected{
  text-align: center;
  float: left;
  width: 48%
}
.CompareHeader{
  width: 48%;
  float: left;
  /* border-radius: 8px;  */
  text-align: center;
  border: 1px solid black
}
#submissionstatus{
  position: absolute;
  margin-left: 59% 
}
.UnChecked{
  color:rgba(255, 0, 0, 0.815)
}
.JudgeProblem{
  padding: 8%;
  padding-top: 0.5%; 
  padding-bottom: 1%; 
}
li:hover{
  text-decoration: line-through;
}
.dashboardSubmit{
  color: white;
  padding: 3% 3%;
  margin-top: 3px;
  width: 100%;
  background-color:  rgba(0, 0, 0, 0.897);
  border-radius: 10px;
  font-family: Bree serif;
  font-size: 2 em;
}

.scrollable{
  margin-top : 5%;
  width: 100%;
  overflow : scroll;
}
.OuterAdmin{
  border: 4px solid rgba(241, 203, 203, 0.089);
  margin-top: 5%;
  margin-left: 28%;
  background-color:rgba(255, 255, 255, 0.795);
  border-radius: 0.5em;
  width: 45%;
  height: 70%;
  /* opacity: 0.8 */
}
.initialForm{
  width: 100%;
  padding: 14px 24px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.527);
  border-radius: 4px;
  box-sizing: border-box
}

input::placeholder {
  color:black;
  font-size: 1.2em;
  font-style: bold;
  font-family: 'Lucida Sans'
}

.initialFormSubmit {
  width: 100%;
  background-color:  rgba(0, 0, 0, 0.897);
  color: white;
  padding: 14px 24px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.2em;
  font-style: bold;
  font-family: 'Lucida Sans'
}

.initialFormSubmit:hover {
  background-color:black;
}
.InnerAdmin{
  padding: 5%;
  /* margin-left:28%  */
}
.dashboardfile-form{
  width: 100%;
  margin-top: 3px;
  text-align:center;
  padding: 2% 2%;
  border-radius : 8px;
  /* border: 1px solid grey; */
  display: inline-block;
}
.dashboard-form{
  width: 100%;
  margin-top: 3px;
  text-align:center;
  padding: 5% 5%;
  width: 100%;
  border-radius : 8px;
  border: 1px solid grey;
  display: inline-block;
}
.dashboard-formSubmit{
  color: white;
  padding: 6% 6%;
  margin-top: 3px;
  width: 100%;
  background-color:  rgba(0, 0, 0, 0.897);
  border-radius: 10px;
  font-family: Bree serif;
  font-size: 2 em;
}
.dashboard-formSubmit:hover{
  background-color: black;
}
.DBFORM{
  height: 202px
}
.optionsDiv{
  position: relative;
  border: 4px solid rgba(0, 0, 0, 0.089);
  padding: 4%;
  margin-top: 13%;
  background-color:rgba(255, 255, 255, 0.795);
  border-radius: 0.5em;
  width: 50%;
}

.DivWithBackground{
  position: absolute;
  width: 100%;  
  height: 100%;
  background: url('./images/Home2.jpg');
  background-size: cover;
  /*background-position: right 45px bottom 20px;*/
  background-repeat: no-repeat;
}
.AdminForm{
  border: 4px solid rgba(0, 0, 0, 0.089);
  padding: 3%;
  margin-top: 8%;
  background-color:rgba(255, 255, 255, 0.795);
  border-radius: 0.5em;
  width: 50%;
}

.HomeButton{
  border:1px solid white;
  padding:3%; 
  margin:auto;
  font-size: 180%;
  width: 68%;
  font-family: Bree serif;
  background-color:rgba(0, 0, 0, 0.877);
  border-radius: 0.4em;
}
.StartButton{
  border:1px solid white;
  padding:2%; 
  margin-top:2%;
  margin-left:47%;
  font-size: 130%;
  width: 20%;
  font-family: Bree serif;
  background-color:rgba(4, 7, 27, 0.932)
  /* border-radius: 0.4em; */
}
.DownloadButton{
  border:1px solid white;
  padding:2%; 
  margin-top:2%;
  margin-left:5%;
  font-size: 130%;
  width: 20%;
  font-family: Bree serif;
  background-color:rgba(5, 87, 3, 0.877);
  /* border-radius: 0.4em; */
}
.HomeButton:hover {
  background-color:black;
}
.DownloadButton:hover {
  background-color: rgba(7, 104, 4, 0.877);
}
.ScoreboardButton{
  border:1px solid white;
  padding:2%; 
  margin-bottom: 3%; 
  margin-top:2%;
  margin-left:78%;
  font-size: 130%;
  width: 20%;
  font-family: Bree serif;
  background-color:rgba(26, 51, 189, 0.829);
}
.ScoreboardButton1{
  border:1px solid white;
  padding:2%; 
  /* margin-bottom: 3%;  */
  margin-top:2%;
  margin-left: 47.5%;
  font-size: 130%;
  width: 20%;
  font-family: Bree serif;
  background-color:rgba(26, 51, 189, 0.829);
}
.ScoreboardButton:hover {
  background-color:rgb(3, 14, 80);
}
.ScoreboardButton1:hover {
  background-color:rgb(3, 14, 80);
}
.StartButton:hover {
  background-color:rgb(3, 14, 80);
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.mr-auto{
  font-family: Bree serif;
  font-size: 1.1em
}
.NavElem{
  margin-right: 3%;
  font-family: Bree serif;
  font-size: 1.1em
}
.NavBrand{
  margin-right: 3%;
  font-family: Bree serif;
  font-size: 1.7em
}
.Waiting{
  color: rgb(196, 36, 36);
  padding: 1%;
  width: 40%;
  text-align: center;
  margin: auto;
}
h6{
  font-size : 15px;
  display: inline-block;
  font-family: Bree serif;
}
input[type="file"] {
  font-family: Bree serif;
  /* font-size: 13px; */
}
.NAMETAG{
  text-align: center;
  /* border: 2px solid black; */
}
.EXPAND{
  overflow: scroll;
}
body{
  font-family: Bree serif;
}
.CompDashboard{
  color: white;
  width: 50%;
  border-radius: 5px; 
  padding: 2%;
  border: 1px solid rgba(221, 207, 207, 0.685); 
  background-color: rgba(4, 7, 27, 0.932)
}
.ScoreBoardHeader{
  color: white;
  width: 30%;
  margin-left: 35%;
  margin-top: 3%;
  border-radius: 5px; 
  padding: 2%;
  border: 1px solid rgba(221, 207, 207, 0.685); 
  background-color: rgba(4, 7, 27, 0.932)
}
.Loading{
  margin-left: 40% 
}
.CheckMateHead{
  color: white;
  font-weight: 650;
  font-size: 6em;
}
.ProblemStatus{
  position: absolute;
  /* padding: 1%; */
  padding-left: 80%; 
}
.UnSolved{
  margin-left : 1px;
  color: rgba(0, 0, 255, 0.664)
}
.Solved{
  margin-left : 1px;
  color: rgb(0, 128, 0)
}
.Correct{
  margin-left : 1px;
  color: rgb(0, 128, 0)
}
.Pending{
  margin-left : 1px;
  color: rgb(255, 208, 0)
}
.Incorrect{
  margin-left : 1px;
  color: rgb(255, 0, 0)
}
.ERR{
  margin-left : 1px;
  color: rgb(255, 0, 0)
}
.TLE{
  margin-left : 1px;
  color: rgb(255, 0, 0)
}
.TeamProblem{
  padding-top: 1%;
  padding-left: 13%;
  padding-right: 13%
}
.CheckMateTag{
  color: white;
  font-weight: 100;
  font-size: 1.8em;
  margin-left: 1%
}
.CheckMate{
  /* opacity: 0.9; */
  padding-top: 15%;
  padding-left: 2%;
}
.getstarted{
  font-size: 1.5em;
  color: black;
  background-color:rgb(255, 255, 255);
  margin-left: 1%;
  border: 2px solid white;
}
.getstarted:hover{
  color:white;
  border: 2px solid white;
  background-color:black;
}
h2,h3,h1,h4,h5,h6{
  font-family: Bree serif;
}
h3{
  font-size: 1.6em
}
.LogInPage{
  padding-top: 8%; 
  width : 70%;
  margin-left: 13%
}
.LandingDiv{
  /* position: absolute; */
  width: 100%;  
  height: 800px;
  background: url('./images/mac-book.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.ScoreBoard{
  padding: 8%;
  padding-top: 3%; 
  overflow : scroll
}
th{
  text-align: center;
  font-size: 1.7em;
}
td{
  text-align: center;
  font-size: 1.2em;
}
.ProblemSubmit{
  margin-left: 3%
}
#about{
  padding: 5%
}